{% extends "base.html" %}

{% block css %} 
    <link rel="stylesheet" href="/static/css/property.css">
{% endblock%}

{% block main %}
{% if property %}
    <div class="property-container">
        <div class="property-image">
            <img class="property-photo" src="{{ url_for('get_image', filename=property.image_name) }}" alt="Property Image">
        </div>
        <div class="property-details">
            <h1 class="property-title">{{ property.title }}</h1>
            <div class="property-meta">
                <span class="badge property-price">${{ property.price }}</span>
                <span class="badge property-type">{{ property.type|capitalize }}</span>
            </div>
            <p class="property-description">{{ property.description }}</p>
            <div class="property-amenities">
                <div>
                    <span class="property-info">{{ property.no_bedrooms }} Bedrooms</span>
                </div>
                <div>
                    <span class="property-info">{{ property.no_bathrooms}} Bathrooms</span>
                </div>
            </div>
            <p class="property-location"><span class="icon-location">📍</span> {{ property.location }}</p>
            <button class="email-realtor">Email Realtor</button>
        </div>
    </div>
{% endif %}

{% endblock %}